#range-slider {
  width: 100%;
}

.range-display-container {
  display: inline-block;
  padding: 1em;
  font-family: sans-serif;
}

.range-display-container > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  text-align: center;
}

.range-display-container > p {
  margin-bottom: 0;
}

.hidden-until-user-accepts {
  display: none;
}

.user-accepted .hidden-until-user-accepts {
  display: block;
}

.user-accepted .hidden-after-user-accepts {
  display: none;
}

#btn-begin-audio-capture {
  margin-top: 1em;
}